<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="uk.ac.horizon.ug.exploding.client"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".HomeActivity"
                  android:label="@string/app_name" android:alwaysRetainTaskState="true" android:icon="@drawable/icon" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:allowTaskReparenting="true" android:name=".ExplodingPreferences" android:launchMode="singleTop" android:label="Preferences" android:icon="@drawable/icon"><intent-filter><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.LAUNCHER"></category>
</intent-filter>
</activity>
<activity android:icon="@drawable/gps" android:name=".GpsStatusActivity" android:label="Gps Status" android:allowTaskReparenting="true" android:clearTaskOnLaunch="true" android:noHistory="true" android:enabled="true" android:exported="true" android:launchMode="standard"><intent-filter android:label="Gps Status">
<action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.LAUNCHER"></category>
</intent-filter>
</activity>
<activity android:label="Game Map" android:name=".GameMapActivity"></activity>
<uses-library android:name="com.google.android.maps" android:required="true"></uses-library>
<activity android:label="Player Status" android:name=".PlayerStatusActivity"></activity>
</application>


<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

<uses-permission android:name="android.permission.DEVICE_POWER"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>

</manifest> 